extends layout

block content
  .landing
    h1 Express Casino
    p Choose a Baccarat screen.
    .controls
      a.btn.btn-primary(href='/baccarat') Baccarat Table
      a.btn.btn-accent(href='/baccarat/admin') Admin Console
