extends layout

block content
  .landing
    h1 Express Casino
    p Baccarat 화면을 선택하세요.
    .controls
      a.btn.btn-primary(href='/baccarat') Baccarat Table
      a.btn.btn-accent(href='/baccarat/admin') Baccarat Admin
